/*styles*/
.regular {
  background-color: rgba(255, 0, 0, 0.315);
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.special{
  font-size: 24px;

}

#first {
color: #0000ff;
font-size: 36px;
}

#second {
  background-color: rgba(5, 216, 5, 0.733);
  font-size: 24px;
  font-weight: 700;

}